<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moesome.trade.order.server.model.dao.MessageCommodityOrderMapper">
  <resultMap id="BaseResultMap" type="com.moesome.trade.order.server.model.domain.MessageCommodityOrder">
    <!--@mbg.generated-->
    <id column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
    <result column="stock_decrement" jdbcType="INTEGER" property="stockDecrement" />
    <result column="stock_decrement_at" jdbcType="TIMESTAMP" property="stockDecrementAt" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="coin_decrement" jdbcType="DECIMAL" property="coinDecrement" />
    <result column="coin_decrement_at" jdbcType="TIMESTAMP" property="coinDecrementAt" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    order_id, commodity_id, stock_decrement, stock_decrement_at, user_id, coin_decrement, 
    coin_decrement_at, `status`, created_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from message_commodity_order
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from message_commodity_order
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.moesome.trade.order.server.model.domain.MessageCommodityOrder">
    <!--@mbg.generated-->
    insert into message_commodity_order (order_id, commodity_id, stock_decrement, 
      stock_decrement_at, user_id, coin_decrement, 
      coin_decrement_at, `status`, created_at
      )
    values (#{orderId,jdbcType=BIGINT}, #{commodityId,jdbcType=BIGINT}, #{stockDecrement,jdbcType=INTEGER}, 
      #{stockDecrementAt,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, #{coinDecrement,jdbcType=DECIMAL}, 
      #{coinDecrementAt,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.moesome.trade.order.server.model.domain.MessageCommodityOrder">
    <!--@mbg.generated-->
    insert into message_commodity_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="stockDecrement != null">
        stock_decrement,
      </if>
      <if test="stockDecrementAt != null">
        stock_decrement_at,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="coinDecrement != null">
        coin_decrement,
      </if>
      <if test="coinDecrementAt != null">
        coin_decrement_at,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="stockDecrement != null">
        #{stockDecrement,jdbcType=INTEGER},
      </if>
      <if test="stockDecrementAt != null">
        #{stockDecrementAt,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="coinDecrement != null">
        #{coinDecrement,jdbcType=DECIMAL},
      </if>
      <if test="coinDecrementAt != null">
        #{coinDecrementAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moesome.trade.order.server.model.domain.MessageCommodityOrder">
    <!--@mbg.generated-->
    update message_commodity_order
    <set>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="stockDecrement != null">
        stock_decrement = #{stockDecrement,jdbcType=INTEGER},
      </if>
      <if test="stockDecrementAt != null">
        stock_decrement_at = #{stockDecrementAt,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="coinDecrement != null">
        coin_decrement = #{coinDecrement,jdbcType=DECIMAL},
      </if>
      <if test="coinDecrementAt != null">
        coin_decrement_at = #{coinDecrementAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moesome.trade.order.server.model.domain.MessageCommodityOrder">
    <!--@mbg.generated-->
    update message_commodity_order
    set commodity_id = #{commodityId,jdbcType=BIGINT},
      stock_decrement = #{stockDecrement,jdbcType=INTEGER},
      stock_decrement_at = #{stockDecrementAt,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      coin_decrement = #{coinDecrement,jdbcType=DECIMAL},
      coin_decrement_at = #{coinDecrementAt,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>