<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moesome.trade.recharge.server.model.dao.RechargeMapper">
  <resultMap id="BaseResultMap" type="com.moesome.trade.recharge.server.model.domain.Recharge">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="coin" jdbcType="DECIMAL" property="coin" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="pay_at" jdbcType="TIMESTAMP" property="payAt" />
    <result column="trade_no" jdbcType="CHAR" property="tradeNo" />
    <result column="way" jdbcType="TINYINT" property="way" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, coin, created_at, `status`, pay_at, trade_no, way
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from recharge
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from recharge
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.moesome.trade.recharge.server.model.domain.Recharge" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into recharge (user_id, coin, created_at, 
      `status`, pay_at, trade_no, 
      way)
    values (#{userId,jdbcType=BIGINT}, #{coin,jdbcType=DECIMAL}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{payAt,jdbcType=TIMESTAMP}, #{tradeNo,jdbcType=CHAR}, 
      #{way,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.moesome.trade.recharge.server.model.domain.Recharge" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into recharge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="coin != null">
        coin,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="payAt != null">
        pay_at,
      </if>
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="way != null">
        way,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="coin != null">
        #{coin,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="payAt != null">
        #{payAt,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=CHAR},
      </if>
      <if test="way != null">
        #{way,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moesome.trade.recharge.server.model.domain.Recharge">
    <!--@mbg.generated-->
    update recharge
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="coin != null">
        coin = #{coin,jdbcType=DECIMAL},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="payAt != null">
        pay_at = #{payAt,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeNo != null">
        trade_no = #{tradeNo,jdbcType=CHAR},
      </if>
      <if test="way != null">
        way = #{way,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moesome.trade.recharge.server.model.domain.Recharge">
    <!--@mbg.generated-->
    update recharge
    set user_id = #{userId,jdbcType=BIGINT},
      coin = #{coin,jdbcType=DECIMAL},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=TINYINT},
      pay_at = #{payAt,jdbcType=TIMESTAMP},
      trade_no = #{tradeNo,jdbcType=CHAR},
      way = #{way,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAllUnResolver" resultMap="BaseResultMap">
      select * from recharge where status = 0
  </select>
</mapper>