<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moesome.trade.commodity.server.model.dao.MessageCommodityMapper">
  <resultMap id="BaseResultMap" type="com.moesome.trade.commodity.server.model.domain.MessageCommodity">
    <!--@mbg.generated-->
    <id column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
    <result column="stock_decrement" jdbcType="INTEGER" property="stockDecrement" />
    <result column="stock_decrement_at" jdbcType="TIMESTAMP" property="stockDecrementAt" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    order_id, commodity_id, stock_decrement, stock_decrement_at, created_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from message_commodity
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from message_commodity
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.moesome.trade.commodity.server.model.domain.MessageCommodity">
    <!--@mbg.generated-->
    insert into message_commodity (order_id, commodity_id, stock_decrement, 
      stock_decrement_at, created_at)
    values (#{orderId,jdbcType=BIGINT}, #{commodityId,jdbcType=BIGINT}, #{stockDecrement,jdbcType=INTEGER}, 
      #{stockDecrementAt,jdbcType=TIMESTAMP}, #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.moesome.trade.commodity.server.model.domain.MessageCommodity">
    <!--@mbg.generated-->
    insert into message_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="stockDecrement != null">
        stock_decrement,
      </if>
      <if test="stockDecrementAt != null">
        stock_decrement_at,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="stockDecrement != null">
        #{stockDecrement,jdbcType=INTEGER},
      </if>
      <if test="stockDecrementAt != null">
        #{stockDecrementAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moesome.trade.commodity.server.model.domain.MessageCommodity">
    <!--@mbg.generated-->
    update message_commodity
    <set>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="stockDecrement != null">
        stock_decrement = #{stockDecrement,jdbcType=INTEGER},
      </if>
      <if test="stockDecrementAt != null">
        stock_decrement_at = #{stockDecrementAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moesome.trade.commodity.server.model.domain.MessageCommodity">
    <!--@mbg.generated-->
    update message_commodity
    set commodity_id = #{commodityId,jdbcType=BIGINT},
      stock_decrement = #{stockDecrement,jdbcType=INTEGER},
      stock_decrement_at = #{stockDecrementAt,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=BIGINT}
  </update>
</mapper>